@using HalloDocs.Entities.Enums;

<table class="table">
    <thead class="table-secondary">
        <tr class="p-0 m-0">
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Region</th>
            <th>Physician Name</th>
            <th>Date Of Service</th>
            <th>Address</th>
            <th>Notes</th>
            <th>Chat With</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var request in Model)
            {
                <tr id="@((TypesOfRequest)request.RequestTypeId)">

                    <td>@request.ClientFirstName @request.ClientLastName</td>
                    <td><button class="btn border m-0"><i class="bi bi-envelope"></i> </button> &nbsp; @request.DateOfBirth.ToString("MMM dd,yyyy") (@request.Age) </td>
                    <td> Region </td>
                    <td>Physician name</td>
                    <td>Date Of Service</td>
                    <td>@request.ClientAddress</td>
                    <td>-</td>
                    <td>
                        <button class="btn border text-white"><i class="bi  bi-person-fill text-black p-1"></i>Patient</button>
                        <button class="btn border text-white"><i class="bi bi-person-circle text-black p-1"></i>Provider</button>
                    </td>
                    <td>
                        <button class="btn border text-white dropdown-toggle" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">Actions</button>
                        <ul class="dropdown-menu" aria-labelledby="defaultDropdown">
                            <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-medical"></i> View Case</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-journal-arrow-up"></i> View Uploads</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-richtext"></i> View Notes</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-slash-circle"></i> Close Case</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-journal-check"></i> Orders </a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-text"></i> Doctors Note </a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-x-circle"></i> Clear Case</a></li>
                            <li><a class="dropdown-item" href="#"><i class="bi bi-file-earmark-text"></i> Encounter</a></li>
                        </ul>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>