@model HalloDocs.Entities.ViewModels.ViewCaseViewModel;

@{
    Layout = "_LayoutAdmin";
}

<partial name="~/Views/Shared/_AdminHeader.cshtml" />
<div class="container mt-2 d-flex flex-column justify-content-between align-items-center pb-4">
    <div class=" py-4">
        <div class="backbtn w-100 px-4 d-flex justify-content-between align-items-start">
            <h3 class="fs-4 fw-bold">
                New Request
                @if (Model.requestType == 1)
                {
                    <span class="badge bg-success rounded-pill">Patient</span>
                }
                @if (Model.requestType == 2)
                {
                    <span class="badge bg-warning rounded-pill">Family/Friend</span>
                }
                @if (Model.requestType == 3)
                {
                    <span class="badge bg-info rounded-pill">Concierge</span>
                }
                @if (Model.requestType == 4)
                {
                    <span class="badge bg-danger rounded-pill">Business</span>
                }
            </h3>
            <a asp-route="AdminDashboard" class="btn btn-outline-info p-1"> &lt; Back  </a>
        </div>

        <form asp-controller="Admin" asp-action="ViewCase" class="p-4 m-4 shadow boder-0 bg-white" enctype="multipart/form-data" method="post">

            <h5 class="pt-1">Patient Information</h5>
            <p class="text-muted ">ConfirmationNumber</p>
            <p class="text-info">@Model.ConfirmationNumber</p>

            <div class="row input-group justify-content-between align-items-center">
                <div class="col-12 mb-3 ">
                    <div class="form-floating mb-3">
                        <textarea class="form-control h-100 field " id="PatientSymptoms" placeholder="Patient's Notes" disabled>@Model.requestclient.PatientSymptoms</textarea>
                        <label for="PatientSymptoms"> Patient's Notes </label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="border-bottom mb-3 mt-2 text-muted viewcasedotteddiv "></div>

                <div class="col-12 col-md-6 col-lg-6 mb-3 ">
                    <div class="form-floating ">
                        <input type="text" class="form-control field" id="PatientFirstName" placeholder="First Name" value="@Model.requestclient.FirstName" disabled>
                        <label for="PatientFirstName">First Name</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3">
                    <div class="form-floating ">
                        <input type="text" class="form-control field" id="PatientLastName" placeholder="Last Name" value="@Model.requestclient.LastName" disabled>
                        <label for="PatientLastName">Last Name</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3">
                    <div class="form-floating ">
                        <input class="form-control field" id="PatientDOB" placeholder="DD/MM/YYYY" max="@DateTime.Now.ToString("yyyy-MM-dd")" value="@Model.requestclient.DateOfBirth" disabled>
                        <label for="PatientDOB">Date of Birth</label>
                        <span class="text-danger"></span>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-6 mb-3  d-flex flex-row p-0">
                    <div class="col-10 form-floating ">
                        <input id="PatientCountryCode" type="hidden" />
                        <input type="tel" class="form-control m-0" id="PatientPhoneNumber" value="+@Model.requestclient.ContryCode@Model.requestclient.PhoneNumber" onchange="patientvalidatePhoneNumber()" disabled>
                        <span id="patienttextChange"></span>
                    </div>
                    <div class="col-2 mt-2">
                        <button class="btn btn-outline-info field" disabled><i class="bi bi-telephone"></i></button>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-3 ">
                    <div class="form-floating ">
                        <input value="@Model.requestclient.Email" class="form-control" id="Email" placeholder="Email " disabled>
                        <label>Your Email</label>
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6 mb-3  ">
                    <div class="row ms-1 justify-content-start align-items-start align-content-start">
                        @if (Model.status != 1)
                        {
                          <button type="button" class="btn btn-outline-info edit col-2" id="editbutton">Edit</button>
                        }
                        <button type="submit" class=" col-2 btn btn-success save d-none me-2" id="savebutton">Save</button>
                        <button type="button" class="col-2 btn btn-outline-success cancel d-none " onclick="window.location.reload()" id="cancelbutton">Cancel</button>
                    </div>

                </div>

            </div>

            <h5 class="pt-4">Location Information</h5>
            <div class="row input-group mb-3 justify-content-between align-items-center">
                <div class=" col-12 col-md-6 col-lg-6 mb-3 row2">
                    <div class="form-floating">
                        <input type="text" class="form-control field" id="PatientRegion" placeholder="Region" value="@Model.requestclient.State" disabled>
                        <label for="PatientRegion">Region</label>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3 row2 d-flex">
                    <div class="col-10 mx-0">
                        <div class="form-floating ">
                            <input type="text" class="form-control field" id="BusinessName" placeholder="Business Name / Address" disabled>
                            <label for="BusinessName">Business Name / Address</label>
                        </div>
                    </div>
                    <div class="col-2 mx-0 mt-2">
                        <a id="getLocation" onclick="initMap()" class="btn btn-outline-info "><i class="bi bi-geo-alt"></i></a>
                        <input type="text" id="getlatitude" hidden />
                        <input type="text" id="getlongitude" hidden />
                        <div id="googleMap"></div>
                    </div>
                </div>
                <div class=" col-12 col-md-6 col-lg-6 mb-3 row2">
                    <div class="form-floating">
                        <input type="text" class="form-control field" id="PatientRoomNumber" value="@Model.requestclient.Address" placeholder="Room / Suite" disabled>
                        <label for="PatientRoomNumber">Room #</label>
                    </div>
                </div>
            </div>

            <div class="btn d-flex justify-content-end p-2">
                @if (Model.status == 1)
                {
                    <button type="button" class="btn btn-info " onclick="checkValidation()">Assign</button>
                }
                <button type="button" class="btn btn-info mx-2">View Notes</button>
                <button type="button" class="btn btn-danger" onclick="CancelModel(@Model.requestclient.RequestId)">Cancel</button>
            </div>
        </form>
    </div>
</div>

<partial name="~/Views/Shared/_Footer.cshtml" />
<div id="partialContainer"></div>

<script>
    var fields = document.querySelectorAll(".field");
    var editbtn = document.getElementById("editbutton");
    var savebutton = document.getElementById("savebutton")
    var cancelbtn = document.getElementById("cancelbutton");
    editbtn.addEventListener("click", () => {
        editbtn.classList.add("d-none");
        savebutton.classList.remove("d-none");
        cancelbtn.classList.remove("d-none");
        for (var i = 0; i < fields.length; i++) {
            fields[i].disabled = !fields[i].disabled;
        }
    });
</script>

<script>
    function CancelModel(RequestId) {
        console.log(RequestId);
        $.ajax({
            url: '/Admin/CancelModel',
            type: 'Post',
            data: {
                ReqId: RequestId
            },
            success: function (data) {

                $('#partialContainer').html(data);
                $('#cancelmodal').modal('show'); s

            },
            error: function () {
                alert("No Projects Found");
                $("#partialContainer").html('An error has occurred');
            }
        });

    }
    function AssignModel(RequestId) {
        $.ajax({
            url: '/Admin/AssignModel',
            type: 'Post',
            data: {
                ReqId: RequestId
            },
            success: function (data) {

                $('#partialContainer').html(data);
                $('#assignmodel').modal('show');

            },
            error: function () {
                alert("No Projects Found");
                $("#partialContainer").html('An error has occurred');
            }
        });
    }

</script>
